h1 a {
    color:chocolate;
    font-family: 'Oswald', sans-serif;
    background-blend-mode:darken;
}

.agaga{
    color:darkred;
    font-family: 'Montserrat', sans-serif;
}

.vremya{
    color:brown;
    font-family: 'Supermercado One', cursive;
}


.budet{
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

